@import "../../styles/mixins.scss";

.payment {
  padding-block: 2rem 4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  h3 {
    font-size: 45px;

    @include respond(tab-port) {
      font-size: 40px;
    }

    @include respond(phone) {
      font-size: 35px;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 2rem;

    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  &__right {
    position: relative;

    h4 {
      color: #6f00eb;
    }

    div {
      color: #110d34;
      font-weight: 500;
      font-size: 1rem;
    }

    @include respond(tab-port) {
      width: 98%;
      margin-inline: auto;
    }
  }

  .img-1 {
    width: 50%;
    margin: auto;

    @include respond(phone) {
      width: 60%;
      margin: auto;
    }
  }

  .img-2 {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: -6%;
    z-index: -1;
    animation: anim2 2s alternate-reverse infinite ease-in-out;

    @include respond(tab-land) {
      animation: none;
    }
  }

  @keyframes anim2 {
    0% {
      transform: translate3d(40px, 0px, 0px);
    }

    100% {
      transform: translate3d(70px, 0px, 0px);
    }
  }

  &__partners {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    border-radius: 50%;
    top: -16%;
    right: 5%;
    display: grid;
    place-content: center;
    text-align: center;
    box-shadow: 0 0 40px 5px rgba(132, 132, 132, 0.2);
    animation: anim1 2s alternate-reverse infinite ease-in-out;

    @include respond(tab-port) {
      top: -10%;
      right: 10%;
    }

    @include respond(phone) {
      display: none;
    }
  }

  @keyframes anim1 {
    0% {
      transform: translate3d(-40px, 40px, -40px);
    }

    100% {
      transform: translate3d(-20px, 0px, -20px);
    }
  }

  &__users {
    position: absolute;
    background-color: #fff;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    bottom: -8%;
    left: 10%;
    box-shadow: 0 0 40px 5px rgba(132, 132, 132, 0.2);
    animation: anim1 2s alternate-reverse infinite ease-in-out;

    @include respond(phone) {
      display: none;
    }
  }
}
